.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container input,
.container select {
  padding: 16px;
  background-color: var(--bgSoft);
  border: none;
  outline: none;
  color: var(--text);
}

.btn {
  padding: 8px 12px;
  background-color: var(--btn);
  font-weight: bold;
  color: var(--text);
  border: none;
  outline: none;
  border-radius: 5px;
}
