.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  color: var(--text);
}

.details {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn {
  padding: 8px 12px;
  background-color: #7b1434;
  font-weight: bold;
  color: var(--text);
  border: none;
  outline: none;
  border-radius: 5px;
}
