.container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 100px;
}

.img_container {
  height: calc(100vh - 300px);
  position: relative;
}

.img {
  object-fit: cover;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text_container h1 {
  font-size: 64px;
}

.detail_container {
  display: flex;
  gap: 30px;
}

.avatar {
  border-radius: 36px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail_title {
  font-weight: bold;
  color: gray;
}

.detail_value {
  font-weight: 500;
}

.text_container p {
  font-size: 20px;
}

@media (max-width: 920px) {
  .container {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .text_container h1 {
    font-size: 36px;
  }
}
