.link_section {
  margin: 16px 0;
  display: flex;
  gap: 25px;
}

.link {
  text-align: center;
  padding: 12px 20px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 12px;
}

.active_link {
  text-align: center;
  background-color: var(--bgSoft);
  padding: 12px 20px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .link_section {
    gap: 4px;
  }

  .link {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 8px;
  }

  .active_link {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 8px;
  }
}
