.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container input,
.container textarea {
  padding: 16px;
  background-color: var(--bgSoft);
  border: none;
  outline: none;
  color: var(--text);
}
