.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input {
  background-color: var(--bg);
  color: var(--text);
  width: 100%;
  padding: 16px;
  border: none;
  outline: none;
}

.btn {
  background-color: var(--btn);
  color: var(--text);
  border-radius: 5px;
  font-weight: bold;
  padding: 16px;
  border: none;
  outline: none;
}
